# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Cytec.Cinema.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Rajesh\source\repos\Cytec.Cinema\.idea\.idea.Cytec.Cinema\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
