@model Cytec.Cinema.Application.Features.Shows.Commands.BookingCommand

@{
    ViewBag.Title = "New Booking";
}

<h4>New Booking</h4>

Movie: @Model.Movie
<br />
Screen: @Model.Screen
<br />
Price: @Model.Price
<br />
Show Time: @Model.MovieTime.ToString("dd/MM/yyyy HH:mm")

<hr />


<div class="row p-25">
    <div class="col-12 col-sm-6">
        <form method="post" asp-antiforgery="true">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" asp-for="User" class="form-control"/>
                    <span asp-validation-for="User"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email Address</label>
                <div class="col-sm-8">
                    <input type="text" asp-for="UserEmail"  class="form-control"/>
                    <span asp-validation-for="UserEmail"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Total tickets</label>
                <div class="col-sm-8">
                    <input type="number" asp-for="Tickets" class="form-control"/>
                    <span asp-validation-for="Tickets"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">&nbsp;</label>
                <div class="col-sm-8 pt-15">
                    <button id="save" class="btn btn-light btn-sm" type="submit">&nbsp; Save &nbsp;</button>&nbsp;&nbsp;
                    <a class="btn btn-light btn-sm" asp-action="Index">Cancel</a>
                </div>
            </div>

        </form>
    </div>
</div>

